/* .Card {
    width: 300px;
    margin: 10px auto;
    
}


.Card-head {
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px 0px 0px;
    display: block;
    color: white;
    padding: 10px;
}

.Card-head-blue {
    background-color: #007bff;
    color: white;
}


.Card-head p {
    font-size: 20px;
    margin: 0.5rem 0px;
}

.Card-head p small {
    font-size: 15px;
    margin: 0.5rem 0px;
}

.Card-head tr td {
    padding-left: 1rem;
    padding-top: 0px;
}

.Card-body {
    display: block;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    border: 1px solid rgb(211, 210, 210);
}

.Card-body ul li {
    list-style: circle;
    padding: 3px 0px;
}

.btn {
    width: 280px;
    background-color: rgb(192, 131, 249);
    color: blueviolet;
    border: 1px solid blueviolet;
    margin: 10px;
    border-radius: 20px;
}

.btn-biru {
    width: 280px;
    background-color: #accff4;
    margin: 10px;
    color: rgb(94, 94, 249);
    border: 1px solid rgb(120, 120, 245);
}
 */
.card {
  display: flex;
  border: 2px solid #eee;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
}

.card-header {
  display: block;
  background-color: #000;
  color: #eee;
  padding: 1rem 2rem;
  margin: 0px;
  border-radius: 1rem 1rem 0 0;
}

.card-body {
  display: block;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
}

.card-body ul {
    padding: 1.5rem;
}

.card-body ul li {
    padding: 1rem;
}

.btn {
  width: 100%;
  height: 15%;
  border-radius: 100px;
  background-color: #a4d0ff;
  color: #007bff;
  padding: 8px 12px;
  border: none;
  font-weight: bold;
  margin-bottom: 2rem;
}

.btn-popular {
  width: 100%;
  border-radius: 100px;
  background-color: #007bff;
  color: #eee;
  padding: 8px 12px;
  border: none;
  font-weight: bold;
}

.card-popular {
  background-color: #007bff;
  border: 2px solid #007bff !important;
}

.badge-popular {
  border: 1px solid #fff;
  font-size: 10px;
  padding: 2px 6px;
  position: relative;
  bottom: 10px;
  border-radius: 5px;
}
